USE [CA2015APP]
GO
/****** Object:  Table [dbo].[lrevisados]    Script Date: 11/12/2015 11:47:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[lrevisados2](
	[lote] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
    [Perpost] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL 
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF


select* from lrevisados2